@font-face {
  font-family: "Roboto";
  src: local("Roboto Black"), local("Roboto-Black"), url("../fonts/Robotoblack.woff2") format("woff2"), url("../fonts/Robotoblack.woff") format("woff"), url("../fonts/Robotoblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Medium";
  font-display: auto;
  src: url("../fonts/Robotomedium.woff") format("woff2"), url("../fonts/Robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
